* {
  margin: 0;
  padding: 0;
}
#root {
  background-color: rgb(232, 232, 232);
}
body {
  background-color: rgb(232, 232, 232);
  font-family: "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
}
.carousel-img {
  height: 750px;
  width: 100vw;
}
.info-boxes {
  margin: 30px 40px 40px 40px;
  width: 300px;
  height: 180px;
  box-shadow: 0 0 5px #848484;
  border-radius: 1rem;
  background: linear-gradient(transparent, #dcdcdc);
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(30, 22, 23);
}
.footer-text {
  margin: 15px;
  color: white;
}
